<div class="nav" >
    <div class="ui grid" >
        <div class="four wide column"></div>

        <div class="eight wide column">
            <a href="/posts"><h1><%= blog.title %></h1></a>
            <p><%= blog.description %></p>
        </div>
        <!--背景音乐-->
        <div style="float: right">
            <audio src="http://oot9465q1.bkt.clouddn.com/NEXT%20TO%20YOU%20-%20%E9%93%83%E5%A3%B0%E7%89%88.mp3" autoplay="autoplay" loop="loop" style="display: none"></audio>
        </div>

    </div>
</div>